<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="kr16" >

  <xacro:include filename="$(find ipa325_robot_descriptions)/urdf/kr16/ipa325_kr16.urdf.xacro" />
  
  <!-- setup empty world -->
  <link name="world"/>

  <!-- include robot -->
  <xacro:ipa325_kr16 prefix="" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ipa325_kr16>

</robot>
